html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  background-color: white;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 15px;
}
